{{#extend "layout"}}
  {{#content "title"}}Magical Moment 3D Imaging - Gallery{{/content}}

  {{#content "content"}}
    <h2>Gallery</h2>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section>
<div class="container gal-container">

{{>gal-image img-number='01' med-size=4 small-size=6}}
{{>gal-image img-number='02' med-size=4 small-size=6}}
{{>gal-image img-number='03' med-size=4 small-size=6}}
{{>gal-image img-number='04' med-size=4 small-size=6}}
{{>gal-image img-number='05' med-size=4 small-size=6}}
{{>gal-image img-number='06' med-size=4 small-size=6}}
{{>gal-image img-number='07' med-size=4 small-size=6}}

</div>
</section>
  {{/content}}

{{/extend}}
