@import "colors.scss";
@import "images.scss";
@import "nav.scss";
@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

@mixin border-radius($props) {
    border-radius: $props;
    -moz-border-radius: $props;
    -webkit-border-radius: $props;
    -o-border-radius: $props;
}

body {
    background-color: $main-pink
}

.main-content {
    height: 100vh;
    background-color: $body-bg;
}

.gutter-title {
    text-align: center;
    display: block;
}

.main-content {
    padding: {
        left: 10px;
        right: 10px;
    }
    margin-top: 10px;
    // border: {
    //     left: 1px solid #ddd;
    //     right: 1px solid #ddd;
    //     bottom: 1px solid #ddd;
    //     top: 1px solid #ddd;
    //     radius: 3px;
    // }
}

.social {
    margin: 0;
    padding: 0;
    ul {
        margin: 0;
        padding: 5px;
        li {
            margin: 5px;
            list-style: none outside none;
            display: inline-block;
        }
    }
    i {
        width: 40px;
        height: 40px;
        color: white;
        background-color: #909AA0;
        font-size: 22px;
        text-align: center;
        padding-top: 12px;
        @include transition(all ease 0.3s);
        @include border-radius(50%);
        &:hover {
            color: white;
            text-decoration: none;
            @include transition(all ease 0.3s);
        }
    }
    a {
        color: #000;
        text-decoration: none;
    }
}

//     .carousel {
//     height: 400px;
// }
.carousel-inner > .item {
    height: 400px;
}

.carousel-inner img {
    margin: auto;
}

.carousel-inner .item img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
