<div class="col-md-4 col-sm-4">
	<div class="gutter-col">
		<span class="gutter-title">Contact Info</span>
		Address <br>
		Phone Info
	</div>
</div>
<div class="col-md-4 col-sm-4">
	<div class="gutter-col">
		<span class="gutter-title">Other Info</span>
		Hours Maybe? <br>
		Other Stuff <br>
	</div>
</div>
<div class="col-md-4 col-sm-4">
	<div class="gutter-col">
		<span class="gutter-title">Social Links</span>
		{{> contact-bubbles}}
	</div>
</div>