<!DOCTYPE html>
<html>

<head>
    <title>Magical Moment 3D Imaging</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Cherry+Swash|Flamenco|Josefin+Slab|Sacramento" rel="stylesheet">
    <!-- custom -->
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/main.js"></script>
</head>

<body>
    <div class="container-fluid">

        <div class="col-md-10 col-md-offset-1 main-body">
        <div class="row nav-holder">
                    {{> nav}}
                </div>
            <div class="main-content panel panel-default">
                
                
                <div class="body-holder">
                    {{{body}}}
                </div>
            </div>
            <div class="row gutter-holder">
                {{> gutter}}
            </div>
        </div>
    </div>
</body>

</html>
