.nav > li > a {
  color: black;
  padding-top: 40px;
  padding-bottom: 35px; }

.nav-pills > li > a:hover, .nav-pills > li > a:active, .nav-pills > li > a:focus {
  background-color: #FBECE3;
  border-bottom: solid 5px black; }

.nav-pills > li.active > a {
  background-color: #FBECE3;
  border-bottom: solid 5px #A77881;
  color: black; }
  .nav-pills > li.active > a:hover, .nav-pills > li.active > a:active {
    background-color: #FBECE3;
    border-bottom: solid 5px #000000;
    color: black; }

.logo-main {
  background-image: url("/img/logos/main-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 215px;
  padding-left: 15px; }

.main-nav {
  background-color: #FBECE3;
  border: none; }

.nav-tabs {
  border-bottom: none; }

body {
  background-color: #C6A2A9; }

.gutter-title {
  display: block; }

.gutter-col {
  text-align: center; }

.main-content {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  height: 80vh;
  background-color: #FFFFFF; }

.social {
  margin: 0;
  padding: 0;
  text-align: center; }
  .social ul {
    margin: 0;
    padding: 5px; }
    .social ul li {
      margin: 5px;
      list-style: none outside none;
      display: inline-block; }
  .social i {
    width: 40px;
    height: 40px;
    color: white;
    background-color: #909AA0;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%; }
    .social i:hover {
      color: white;
      text-decoration: none;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
  .social a {
    color: #000;
    text-decoration: none; }

.carousel-inner > .item {
  height: 400px; }

.carousel-inner img {
  margin: auto; }

.carousel-inner .item img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }
