@import "colors.scss";
@import "images.scss";
$nav-height: 200px;
$active-border-size: 5px;
.nav >li >a {
    color: black;
    padding-top: ($nav-height - 20) / 2;
    padding-bottom: ($nav-height - 20) / 2 - $active-border-size;
}

.nav-pills {
    &>li {
        & > a {
            &:hover,
            &:active,
            &:focus {
                background-color: $nav-bg;
                border-bottom: solid $active-border-size black;
            }
        }
        &.active > a {
            background-color: $nav-bg;
            border-bottom: solid $active-border-size $active-border;
            color: black;
            &:hover,
            &:active {
                background-color: $nav-bg;
                border-bottom: solid $active-border-size $hover-border;
                color: black;
            }
        }
    }
}

.logo-main {
    background: {
        image: $main-logo;
        size: contain;
        repeat: no-repeat;
        position: center;
    }
    height: $nav-height;
    width: 2.15 * $nav-height;
    padding-left: 15px;
}

.main-nav {
    background-color: $nav-bg;
    border: none;
}

.nav-tabs {
    border-bottom: none;
}

@media (max-width: 1120px) {
    $nav-height: 100px;
    .logo-main {
        height: $nav-height;
        padding-left: 15px;
        width: 2.15 * $nav-height;
    }
    .nav >li >a {
        color: black;
        padding-top: ($nav-height - 20) / 2;
        padding-bottom: ($nav-height - 20) / 2 - $active-border-size;
    }
}
