<h2>About Us</h2>
Magical Moment 3D Imaging is a keepsake fetal ultrasound company that provides state-of-the-art 3D/4D imaging in the comfort of your own home. 
</p>
<p>
Magical Moment 3D Imaging is owned and operated by Dina Traub B.S., RDMS and Wendy Graziano B.S., RDMS. Both Dina and Wendy graduated from SUNY Health Science Center at Brooklyn with a B.S. in sonography and are registered diagnostic medical sonographers in obstetrics and gynecology. They each have over 25 years of experience in hospital and outpatient settings, performing all levels of OB ultrasound exams for thousands of women.
</p>
<p>
As mothers themselves, Dina and Wendy know how magical the moment is when an expectant mom and dad get the first look at their unborn child. They take pride in being able to utilize their advanced technical expertise, at the same time putting their patients at ease and capturing the best images possible.
</p>