<p class="p1"><span class="s1"><strong>About Us</strong></span></p>
<p class="p2">&nbsp;</p>
<p class="p3"><span class="s2">&nbsp;</span><span class="s3">Magical Moment 3D is owned and operated by:</span></p>
<ul>
<li class="li3"><span class="s3">Dina Traub, BS, RDMS</span></li>
<li class="li3"><span class="s3">Wendy Graziano, BS, RDMS</span></li>
</ul>
<p class="p4">&nbsp;</p>
<p class="p3"><span class="s3">Dina &amp; Wendy are registered diagnostic medical sonographers with full accreditation by the American Registry for Diagnostic Medical Sonographers (ARDMS) in obstetrics &amp; gynecology. Dina &amp; Wendy both earned degrees from the Health Science Center at SUNY Downstate's School of Medicine. Dina &amp; Wendy each have over 25 years of experience operating ultrasound machines, in both the hospital &amp; outpatient settings. Finally, and perhaps most importantly, Dina &amp; Wendy are both proud mothers who appreciate the miracle of pregnancy!</span></p>