<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<div class="social">
    <ul>
            <div class="facebook">
                    <li><a href="{{url}}"><i class="fa fa-lg fa-facebook"></i></a></li><a class="content-text" href="{{url}}">Like Us On Facebook!</a>
            </div>
    </ul>
</div>
</div>
