  <p class="p1"><span class="s1"><strong>Contact</strong></span></p> 
  <p class="p2">&nbsp;</p> 
  <p class="p3"><span class="s2">Call us at:</span></p> 
  <ul> 
   <li class="li3"><span class="s2">917-282-7433</span></li> 
  </ul> 
  <p class="p4"><span class="s2"><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; </span>-or-</span></p> 
  <ul> 
   <li class="li3"><span class="s2">718-873-4893</span></li> 
  </ul> 
  <p class="p3"><span class="s2">Email us at:</span></p> 
  <ul> 
   <li class="li5"><span class="s4"><a href="mailto:info@magical-moment3D.com"><span class="s5">info@magical-moment3D.com</span></a></span></li> 
  </ul> 
  <p class="p3"><span class="s2">Like our Facebook page:</span></p> 
  <ul> 
   <li class="li3"><a href="https://www.facebook.com/MagicalMoment3D">facebook.com/MagicalMoment3D</a></li> 
  </ul>
