<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<div class="social">
    <ul>
            <div class="facebook">
                    <li><a href="{{url}}"><i class="fa fa-lg fa-facebook"></i></a></li><a class="content-text" href="https://www.facebook.com/MagicalMoment3D">Like Us On Facebook!</a>
            </div>
    </ul>
    <ul>
            <div class="instagram">
                    <li><a href="https://www.instagram.com/magicalmoment3d/"><i class="fa fa-lg fa-instagram"></i></a></li><a class="content-text" href="https://www.instagram.com/magicalmoment3d/">Follow Us On Instagram!</a>
            </div>
    </ul>
</div>
</div>
