<p>FAQ</p>
<p>
Q: Does this replace an ultrasound at my doctor's office?
<br />
A: No. This is an elective prenatal ultrasound, and you must be under the care of a doctor who has already performed a diagnostic ultrasound exam.
</p>

<p>
Q: Is it safe?
<br />
A: Yes. 3D/4D ultrasound uses the same type and intensity of sound waves used in traditional 2D ultrasound. Through numerous studies, these sound waves have been shown to cause no harm to mother or baby.
</p>

<p>
Q: When in my pregnancy is a Magical Moment 3D experience recommended?
<br />
A: Optimal 3D/4D images are obtained between 24 and 32 weeks. This is when the best facial features can be seen. However, we can image your baby from 6 weeks until birth. Gender determination can be done as early as 14 weeks.
</p>

<p>
Q: Will I always get a beautiful image of my baby?
<br />
A: Most of the time, yes. The quality of the image is affected by many factors, including the position of the baby, location of the placenta, amount of fluid in the womb and the mother's body type. We will make every effort to provide you with the best images possible. If conditions preclude us from capturing optimal images, we will offer a complementary rescan for a later date.
</p>

<p>
Q: What technology is used to create such lifelike images?
<br />
A: Our state of the art Samsung HM70A ultrasound machine enables us to deliver the finest 3D/4D prenatal experience in the Tri-State area.
</p>

<p>
Q: When can appointments be booked &amp; where will the US session take place?
<br />
A: We accept appointments 7 days per week. Thanks to the portability of our state of the art equipment, we are able to offer ultrasound sessions that take place in the comfort &amp; convenience of your own home. Call us for more information.
</p>

<p>
Q: Can a session be booked during a baby shower or party?
<br />
A: Yes! We will even come to your gender reveal party or baby shower!
</p>
<p>Q: Is the 3D/4D scan covered by insurance?
<br />A: No. Since this is an elective procedure, it is not covered by insurance.
</p>

<p>
Q: What pricing/payment options exist?
<br />
A: We offer a variety of packages to fit your needs and budget. For more information, contact us by phone or email. We accept all major credit cards and cash.
</p>