<html>
 <head></head>
 <body>
  <p> All of our visits include: </p> 
  <ul> 
   <li>45 minutes of scanning</li> 
   <li>Hearing your baby's heartbeat</li> 
   <li>Gender Confirmation</li> 
   <li>A USB Flash Drive with unlimited pictures and video clips</li> 
  </ul> 
  <h1>Packages:</h1> 
  <h2>ACADEMY AWARD</h2> 
  <h3>Single Blockbuster Event</h3> 
  <h4>$ 199.00</h4> 
  <h2>3D DOUBLE FEATURE</h2> 
  <h4>WE COME TO YOU FOR TWO 3D/4D VISITS</h4> 
  <p>$ 299.00</p> 
  <ul> 
   <li>1st 3D visit between 22-26 weeks</li> 
   <li>2nd 3D visit between 26-34 weeks</li> 
  </ul> 
  <h2>WATCH YOUR BABY GROW</h2> 
  <h3>3 VISITS INCLUDES FREE BABY HEARTBEAT BEAR</h3> 
  <h4>$ 350.00</h4> 
  <ul> 
   <li>All Inclusive - Watch Your Baby Grow with 3 visits -</li> 
   <li>3 separate ALL-INCLUSIVE ultrasound sessions with your baby</li> 
  </ul> 
  <p>We come to you as early as 16 weeks for your first session to determine the gender, 24-26 weeks for your second visit to see baby’s features and development, and 30 weeks for your third visit with your chubby cheeked baby!</p> 
  <p>Each visit includes all options above. &nbsp;</p> 
  <h2>EXTRAS:</h2> 
  <h3>My Baby Heartbeat Bears</h3> 
  <h4>$ 30.00</h4> 
  <p> Record your baby's heart beat during your ultrasound appointment in our Red Heart recordable device and place in the back of your stuffed animal then seal the velcro enclosure. Squeeze your adorable stuffed animal's tummy to hear the recording of your baby's heart beat! <br /> These precious animals make great gifts for: </p>
  <ul> 
   <li>baby shower gifts for the mom-to-be</li> 
   <li>siblings of the new baby-to-be</li> 
   <li>grandparents-to-be</li> 
   <li>friends or family members who are away</li> 
  </ul> 
  <h3>Extra Printed Pictures at time of session</h3> 
  <h4>$ 5.00 each</h4>
 </body>
</html>