<h2>Testimonials</h2>

<p>
I went to get a 3D ultrasound done by Dina, and it was such an amazing experience! Her equipment was so hi tech that at even as early as 25 weeks I was able to get a beautiful shot of my soon to be baby girl. It really was such a great experience to have done and I was glad to have it done by Magical Moment 3D!
</p>
<p><i>- Nicole</i></p>
<p>
I went to Dina for a 3D sonogram when I was around 25 weeks pregnant. My doctor had told me previously that because of the placement of my placenta, a 3D image probably wouldn't be easy to get. Dina managed to get amazing shots of my little guy and they will be cherished forever. She was patient and would not stop until she had precious photos of his face for me even though he was not being the most cooperative that day. I couldn't have been happier with my overall experience with Dina.

<p><i>- Christine</i></p>

</p>

<p>
I went to Magical Moments when I was 26 1/2 weeks pregnant with our first baby, our daughter. The experience was amazing!! Dina is so friendly and so loving towards the baby! Our daughter was a bit uncooperative in the beginning but Dina didn't lose patience or hope and we ended up getting amazing pictures of her! Now with 6 weeks left I can't wait to see what she looks like
In real life! I would definitely recommend Magical Moments with any expecting mommies out there!
<p><i>- Catherine</i></p>

</p>

<p>

The experience of seeing 3D images of my unborn child was nothing short of magical. The images were like seeing black and white photos of my unborn baby; it didn't require as much imagination or interpretation as the regular 2D sonograms. Unfortunately for me, my shy guy decided to play peekaboo and offered only slivers of his face for viewing. But the technician was really warm and accomodating, making the experience a fun and wonderful one. I would definitely recommend this service.
<p><i>- Latoya</i></p>

</p>